.inputField {
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 400;
  color: var(--color-textPrimary);
  border: 2px solid var(--color-border);
  background-color: transparent;
  border-radius: 0.5rem;

  &Invalid {
    @extend .inputField;
    border-color: var(--color-alert);
  }

  &Container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  &Error {
    transform-origin: top left;
    margin-left: 0.5rem;
  }

  &Label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    color: var(--color-textPrimary);
    margin-bottom: 0.5rem;
  }

  &Button {
    position: absolute;
    top: 2.5rem;

    &Left {
      @extend .inputFieldButton;
      left: 0.5rem;
    }

    &Right {
      @extend .inputFieldButton;
      right: 0.5rem;
    }
  }
}

input[type='text'] {
  font-family: monospace, Helvetica;
  color: var(--color-textPrimary);
  &::-webkit-textfield-decoration-container {
    margin: 0 0.5rem;
    width: 100%;
  }
}
